<div class="header-title">
  <span class="container-title">Personal Information</span>
</div>
<mat-divider class="divider"></mat-divider>

<mat-card *ngIf="patient" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ patient[0].name}} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <p>
        <mat-icon>person </mat-icon>
        {{ patient[0].username}}
      </p>
      <p>
        <mat-icon>email </mat-icon>
        {{ patient[0].email}}
      </p>
      <p>
        <mat-icon>contact_phone </mat-icon>
        {{ patient[0].phone}}
      </p>
    </ul>

    <mat-table
  *ngIf="patient"
  [dataSource]="patient"
  class="mat-elevation"
>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      ID
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.id }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="sex">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      Sex
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.sex }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      Weight
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.weight }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="height">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      Height
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.height }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="birthday">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      Birthday
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.birthday }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="doctor">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      Doctor
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.doctor }} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
  </mat-card-content>
</mat-card>



