<div class="header-title">
  <span class="container-title">Patient Information</span>
  <button (click)="openDialog()" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-divider class="divider"></mat-divider>


<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input />
</mat-form-field>
<mat-table
  *ngIf="patients.length != 0"
  [dataSource]="patients"
  class="mat-elevation"
>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      ID
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-mini-fab [matMenuTriggerFor]="delete()" id="delete-button">
        <mat-icon>remove</mat-icon>
      </button>
      {{ element.id }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      Name
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      Username
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.username }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      Email
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      Phone
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.phone }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="sex">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      Sex
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.sex }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      Weight
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.weight }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="height">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      Height
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.height }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="birthday">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      Birthday
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.birthday }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="doctor">
    <mat-header-cell *matHeaderCellDef class="table-column-name">
      Doctor
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.doctor }} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>