
<mat-toolbar class="nav-toolbar">
    <span class="nav-title">Onco App</span>
    <span class="nav-spacer"></span>
    <button id="login-button" mat-raised-button (click)="openLoginModal()">
      Login
    </button>
  </mat-toolbar>
  <section class="main-container">
    <div class="left-half">
      <div class="c">
        <h1>Taking care of yourself never been so easy</h1>
        <p>
          <strong>Take care of you health </strong>
        </p>
      </div>
    </div>
  </section>
  <mat-divider class="home-divider"> </mat-divider>
